header
    position: sticky
    top: 0
    left: 0
    z-index: 1
    background-color: #212529
    padding: 20px 0

    .menu
        .imgbox
            width: 150px
        nav
            .selected
                color: #ffc800
            a
                margin: 0 16px
                transition: 1s
                cursor: pointer
                &:hover
                    color: #ffc800
    @media screen and ( min-width: 990px  )
        .box
            display: none

    @media screen and ( max-width: 990px  )
        nav
            display: none
        .box
            display: flex
            color: #9B9D9E
            padding: 12px
            font-weight: 700
            border: 0.5px solid #9B9D9E
            border-radius: 8px
            h4
                margin: 0 8px 0 0
