#portfolio
    background-color: #F8F9FA
    h1
        font-size: 40px
        font-weight: 700
    h3
        font-size: 18px
        font-weight: 400
        margin: 16px 0 36px 0
        font-style: italic
        color: #6c757d
    .box
        .textbox
            text-align: center
            background-color: #ffffff
            padding: 24px 0 
            margin-bottom: 24px
            h2
                font-size: 24px
                font-weight: 900
                line-height: 1.5
            p
                color: #6c757d 
                font-style: italic
                font-size: 18px

    