body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

section {
  padding: 60px 0;
}

img {
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #212529;
  padding: 20px 0;
}
header .menu .imgbox {
  width: 150px;
}
header .menu nav .selected {
  color: #ffc800;
}
header .menu nav a {
  margin: 0 16px;
  transition: 1s;
  cursor: pointer;
}
header .menu nav a:hover {
  color: #ffc800;
}
@media screen and (min-width: 990px) {
  header .box {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  header nav {
    display: none;
  }
  header .box {
    display: flex;
    color: #9B9D9E;
    padding: 12px;
    font-weight: 700;
    border: 0.5px solid #9B9D9E;
    border-radius: 8px;
  }
  header .box h4 {
    margin: 0 8px 0 0;
  }
}

#welcome {
  background: url("assets/backgroundImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome .box {
  color: #ffffff;
}
#welcome .box h2 {
  font-style: italic;
  font-size: 36px;
  font-weight: 200;
}
#welcome .box h1 {
  margin: 32px 0 64px;
  font-size: 72px;
  font-weight: 700;
}
#welcome .box .btn {
  background-color: #ffc800;
  color: #ffffff;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  transition: 1s;
}
#welcome .box .btn:hover {
  background-color: #d9aa00;
}

#service {
  padding: 60px 0;
}
#service h1 {
  font-size: 40px;
  font-weight: 700;
}
#service h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 36px 0;
  font-style: italic;
  color: #6c757d;
}
#service .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#service .box .icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #FFC800;
  font-size: 64px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#service .box .textbox {
  text-align: center;
  padding: 0 16px;
}
#service .box .textbox h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}
#service .box .textbox h4 {
  font-size: 18px;
  color: #6c757d;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 16px;
}

#portfolio {
  background-color: #F8F9FA;
}
#portfolio h1 {
  font-size: 40px;
  font-weight: 700;
}
#portfolio h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 36px 0;
  font-style: italic;
  color: #6c757d;
}
#portfolio .box .bigbox {
  position: relative;
}
#portfolio .box .bigbox .imgbox {
  width: 100%;
}
#portfolio .box .bigbox .icon {
  font-size: 54px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
#portfolio .box .bigbox .icon:hover {
  transition: 0.1s ease-in-out;
  background-color: #ffc800;
  opacity: 0.8;
  cursor: pointer;
}
#portfolio .box .textbox {
  text-align: center;
  background-color: #ffffff;
  padding: 24px 0;
  margin-bottom: 24px;
}
#portfolio .box .textbox h2 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
}
#portfolio .box .textbox p {
  color: #6c757d;
  font-style: italic;
  font-size: 18px;
}

#about h1 {
  font-size: 40px;
  font-weight: 700;
}
#about h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 36px 0;
  font-style: italic;
  color: #6c757d;
}
#about .box {
  display: flex;
  margin: 0 0 100px;
  padding: 0 40px;
}
#about .box .textbox {
  padding: 0 40px;
  width: 500px;
}
#about .box .textbox h2, #about .box .textbox h4 {
  font-size: 24px;
  color: #212529;
  font-weight: 700;
  margin-bottom: 8px;
}
#about .box .textbox p {
  color: #6c757d;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
#about .box .imgbox {
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid rgba(0, 0, 0, 0.1);
}
#about .littleBox {
  width: 170px;
  height: 170px;
  background-color: #ffc800;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 45px;
}
#about .littleBox h5 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .imgbox {
    width: 150px;
  }
}
#team {
  background-color: #F8F9FA;
}
#team h1 {
  font-size: 40px;
  font-weight: 700;
}
#team h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 36px 0;
  font-style: italic;
  color: #6c757d;
}
#team .box {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#team .box .imgbox {
  width: 224px;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid rgba(0, 0, 0, 0.1);
}
#team .box .textbox {
  text-align: center;
  padding: 24px 0 0;
}
#team .box .textbox h2 {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.2;
}
#team .box .textbox p {
  font-size: 18px;
  margin: 0 0 16px;
  color: #6c757d;
  font-weight: 200;
}
#team .box .textbox ul {
  display: flex;
  justify-content: space-between;
}
#team .box .textbox ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212529;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#team h5 {
  max-width: 600px;
  margin: 0 auto;
  color: #6C757D;
  line-height: 1.75;
  font-weight: 400;
}

#social-media .imgbox {
  width: 150px;
  margin: 20px 0;
}

#contactus {
  background: url("assets/mapImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #212529;
}
#contactus h1 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
#contactus h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 64px 0;
  font-style: italic;
  color: #6c757d;
}
#contactus form {
  width: 100%;
  height: 100%;
}
#contactus form input {
  padding: 20px;
  margin: 16px 0;
  border: 1px solid #ced4da;
  border-radius: 6px;
}
#contactus form input::-moz-placeholder {
  color: #ced4da;
  font-size: 20px;
  font-weight: 700;
}
#contactus form input::placeholder {
  color: #ced4da;
  font-size: 20px;
  font-weight: 700;
}
#contactus form textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 20px;
}
#contactus form textarea::-moz-placeholder {
  color: #ced4da;
  font-size: 20px;
  font-weight: 700;
}
#contactus form textarea::placeholder {
  color: #ced4da;
  font-size: 20px;
  font-weight: 700;
}
#contactus .btn {
  background-color: #ffc800;
  color: #ffffff;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  transition: 1s;
  margin: 40px 0;
  opacity: 0.65;
}
#contactus .btn:hover {
  background-color: #d9aa00;
}

footer {
  padding: 20px 0;
}
footer h3 {
  font-size: 14px;
}
footer ul {
  display: flex;
  margin: 20px;
}
footer ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212529;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
footer .box a {
  color: #212529;
  margin: 0 16px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */